body {
    background: linear-gradient(to right, #740083, #2f0235);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
}
